{% extends "base.html" %}

{% load staticfiles %}
{% load imagekit %}

{% block head_title %}Star Citizen Life о {{ tag.name }}{% endblock %}
{% block description %}{% endblock description %}

{% block bodyclass %}class="tag"{% endblock bodyclass %}

{% block content %}
<div class="search-container">
    <div class="container">
        <h1 class="search-heading">{{ tag.name }}</h1>
    </div>
</div>
<div class="container main">
  <div class="row">
    <div class="col-md-3">
       
        <div class="aside-footer">
          {% include 'footer.html' %}
        </div>
    </div>
    <div class="col-md-6">
      <div class="posts-list">
        {% for item in tagged_list %}
            <article class="post infinite-item">
                <div class="post-content clearfix">
                    {% if item.content_object.thumbnail and not item.content_object.big_thumbnail %}
                    <div class="post-thumbnail-small">
                    <img class="img-fluid" src="{{ item.content_object.thumbnail_small.url }}">
                    </div>
                    {% endif %}
                    <a href="{{ item.content_object.get_absolute_url }}" class="post-link"><h3 class="post-title">{{ item.content_object.title }}</h3></a>
                    <div class="post-excerpt">{{ item.content_object.excerpt|safe }}</div>
                </div>
                {% if item.content_object.thumbnail and item.content_object.big_thumbnail %}
                <div class="post-thumbnail-big">
                    <img class="img-fluid" src="{{ item.content_object.thumbnail_big.url }}">
                </div>
                {% endif %}
                <div class="post-footer">
                    <div class="post-date">{{ item.content_object.created_at }}</div>
                    <div class="post-author"><a href="{% url 'profiles:user_profile' username=item.content_object.author %}">
                    {% thumbnail '20x20' item.content_object.author.avatar -- alt="A picture of Me" class="rounded-circle post-author-img" %}
                    {{ item.content_object.author }}
                    </a></div>
                </div>
            </article>
        {% empty %}
        <div class="no-content">
            <p><b>Пока здесь пусто</b></p>
            <p>Но если вам есть чем поделится</p>
            <p><a class="post-create" href="{% url 'blog:create_post' %}">Напишите прямо сейчас</a></p>
        </div>
        {% endfor %}
      </div>

      <div class="loading" style="display: none;">
        <span class="loading-name">Загрузка...</span>
        <div class="svg-img">
            <svg width="60px"  height="60px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="loading-svg" style="background: none;">
              <g transform="translate(50,50)">
                <g ng-attr-transform="scale({{config.scale}})" transform="scale(0.7)">
                  <g transform="translate(-50,-50)">
                    <g transform="rotate(192 50 50)">
                      <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.75s" begin="0s" repeatCount="indefinite"></animateTransform>
                      <path ng-attr-fill-opacity="{{config.opacity}}" ng-attr-fill="{{config.c1}}" d="M50 50L50 0A50 50 0 0 1 100 50Z" fill-opacity="0.8" fill="#ffffcb"></path>
                    </g>
                    <g transform="rotate(54 50 50)">
                      <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animateTransform>
                      <path ng-attr-fill-opacity="{{config.opacity}}" ng-attr-fill="{{config.c2}}" d="M50 50L50 0A50 50 0 0 1 100 50Z" transform="rotate(90 50 50)" fill-opacity="0.8" fill="#fac090"></path>
                    </g>
                    <g transform="rotate(276 50 50)">
                      <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="1.5s" begin="0s" repeatCount="indefinite"></animateTransform>
                      <path ng-attr-fill-opacity="{{config.opacity}}" ng-attr-fill="{{config.c3}}" d="M50 50L50 0A50 50 0 0 1 100 50Z" transform="rotate(180 50 50)" fill-opacity="0.8" fill="#ff7c81"></path>
                    </g>
                    <g transform="rotate(138 50 50)">
                      <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="3s" begin="0s" repeatCount="indefinite"></animateTransform>
                      <path ng-attr-fill-opacity="{{config.opacity}}" ng-attr-fill="{{config.c4}}" d="M50 50L50 0A50 50 0 0 1 100 50Z" transform="rotate(270 50 50)" fill-opacity="0.8" fill="#c0f6d2"></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
        </div>
      </div>

      {% if page_obj.has_next %}
        <a class="infinite-more-link" href="{% url 'tagged_pagination' slug=tag.slug page=page_obj.next_page_number %}">Далее</a>
      {% endif %}

    </div>
    <div class="col-md-3"></div>
  </div>
</div>
   
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.posts-list')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script>
{% endblock javascript %}