{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container main">
    <div class="account-form">
        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="alert alert-warning" role="alert">
            {% for error in form.non_field_errors %}
                {{ error|escape }}
            {% endfor %}
            </div>
            {% endif %}

            <div class="form-group">
                <label for="{{ form.oldpassword.id_for_label }}" class="sr-only">{{ form.oldpassword.label }}</label>
                <input type="password" class="form-control {% if form.oldpassword.errors %}is-invalid{% endif %}" name="{{ form.oldpassword.html_name }}" id="{{ form.oldpassword.id_for_label }}" placeholder="{{ form.oldpassword.label }}">
                {% if form.oldpassword.errors %}
                <div class="invalid-feedback">
                {{ form.oldpassword.errors }}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.password1.id_for_label }}" class="sr-only">{{ form.password1.label }}</label>
                <input type="password" class="form-control {% if form.password1.errors %}is-invalid{% endif %}" name="{{ form.password1.html_name }}" id="{{ form.password1.id_for_label }}" placeholder="{{ form.password1.label }}">
                {% if form.password1.errors %}
                <div class="invalid-feedback">
                {{ form.password1.errors }}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="{{ form.password2.id_for_label }}" class="sr-only">{{ form.password2.label }}</label>
                <input type="password" class="form-control {% if form.password2.errors %}is-invalid{% endif %}" name="{{ form.password2.html_name }}" id="{{ form.password2.id_for_label }}" placeholder="{{ form.password2.label }}">
                {% if form.password2.errors %}
                <div class="invalid-feedback">
                {{ form.password2.errors }}
                </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>
{% endblock %}
