{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
<form class="signup form-signin" id="signup_form" method="post" action="{% url 'account_signup' %}">
  <h2 class="form-signin-heading">{% trans "Sign Up" %}</h2>

  <p class="signup-redirect-registration">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  {% csrf_token %}

  {% if form.non_field_errors %}
    <div class="alert alert-warning" role="alert">
    {% for error in form.non_field_errors %}
      {{ error|escape }}
    {% endfor %}
    </div>
  {% endif %}

  <label for="id_username" class="sr-only">Имя пользователя:</label>
  <input type="text" class="form-control top {% if form.username.errors %}is-invalid{% endif %}" name="username" id="id_username" placeholder="Имя пользователя" minlength="1" required="" maxlength="150" autofocus="autofocus">
  {% if form.username.errors %}
  <div class="invalid-feedback">
    {{ form.username.errors }}
  </div>
  {% endif %}
  <label for="id_email" class="sr-only">E-mail:</label>
  <input type="email" class="form-control mid {% if form.email.errors %}is-invalid{% endif %}" name="email" id="id_email" placeholder="E-mail адрес">
  {% if form.email.errors %}
  <div class="invalid-feedback">
    {{ form.email.errors }}
  </div>
  {% endif %}
  <label for="id_password1" class="sr-only">Пароль:</label>
  <input type="password" class="form-control mid {% if form.password1.errors %}is-invalid{% endif %}" name="password1" id="id_password1" required="" placeholder="Пароль">
  {% if form.password1.errors %}
  <div class="invalid-feedback">
    {{ form.password1.errors }}
  </div>
  {% endif %}
  <label for="id_password2" class="sr-only">Пароль (еще раз):</label>
  <input type="password" class="form-control bottom {% if form.password2.errors %}is-invalid{% endif %}" name="password2" id="id_password2" required="" placeholder="Пароль (еще раз)">
  {% if form.password2.errors %}
  <div class="invalid-feedback">
    {{ form.password2.errors }}
  </div>
  {% endif %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
{% endblock %}
