{% extends "blog/base.html" %}
{% block content %}
<div class="container main">
  <div class="row">
    <div class="col-md-3">
        <div class="profile-info">
            <div class="user-avatar">
                <img class="d-block" src="{{ user.avatar.url }}" alt="">
            </div>
            <div class="user-name text-center"><h1>{{ user_prolile.username }}</h1></div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="posts-list">
        {% for post in posts %}
          {% include "blog/post_block.html" %}
        {% endfor %}
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
   
{% endblock content %}