color {
  color: #212121;
  color: #424242;
  color: #6d6d6d;
  color: #1b1b1b;

  color: #292929;
}

html {
  margin-top: 56px !important;
}

body {
  display: flex;
  font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
  color: rgba(255, 255, 255, 0.882);
  line-height: 1.6em;
  background-color: #131313;
  flex-direction: column;
  min-height: calc(100vh - 50px);
}

.container {
  max-width: 1280px;
}

.main {
  margin-top: 50px;
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

#feedback-welcome,
#feedback-highlighter,
#feedback-overview,
#feedback-submit-success,
#feedback-submit-error {
  font-family: inherit;
  z-index: 40000;
  background: rgb(40, 40, 40);
  border: 1px solid rgba(0,0,0,.333);
  padding: 30px 42px;
  width: 540px;
  border: 1px solid rgba(0,0,0,.333);
  outline: 0;
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  box-shadow: 0 4px 16px rgba(0,0,0,.2);
  background-clip: padding-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-transform: translateZ(0);
}

#feedback-highlighter {
  height: 295px;
}

.feedback-logo {
  background: none;
  width: 100%;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  padding-left: 0;
  height: 32px;
}

.svg-logo {
  float: left;
  margin-right: 10px;
}

a:hover {
  color: #3a99ff;
  text-decoration: none;
}

.wrapper {
  background-color: #292929;
  padding: 30px;
}

.page-padding {
  padding: 30px 40px;
}

table caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.882);
  text-align: center;
  caption-side: top;
}

.bg-dark {
  background-color: #232323!important;
}

.dropdown-menu {
  color: rgba(255, 255, 255, 0.882);
  background-color: rgb(35,35,35);
  border: 1px solid rgba(0,0,0,.15);
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.882);
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: rgba(255, 255, 255, 0.882);
  background-color: #4b4b4b;
}

.Subhead-heading {
  font-size: 24px;
  font-weight: normal;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
}

.Subhead {
  display: -webkit-box;
  display: flex;
  padding-bottom: 4px;
  margin-bottom: 16px;
  margin-top: 25px;
  border-bottom: 1px #424242 solid;
  flex-flow: row wrap;
}

.avatar-upload .custom-file {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-file-control {
  color: rgba(255, 255, 255, 0.882);
  background-color: #404040;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.custom-file-control::before {
  display: none;
}

.custom-file-control:lang(ru):empty::after {
  content: "Загрузить изображение";
}

.btn-avatar-upload {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
}

.alerts-box {
  max-width: 300px;
  position: absolute;
  right: 20px;
  top: 105px;
}

.alert-message {
  margin-right: 25px;
}

/* list-group star */

.list-group-item {
  background-color: #323232;
  border: 1px solid rgba(0,0,0,.125);
}

.list-group-item.active {
  color: #fff;
  background-color: #424242;
  border-color: #424242;
}
/* list-group end */

/* Header star */
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 0.882);
}

nav .link-create {
  cursor: pointer;
  margin-right: 70px;
}

nav .btn-create {
  cursor: pointer;
}

.nav-user {
  position: relative;
}

.login-link {
  position: relative;
}

.login-svg {
  position: absolute;
  left: -20px;
}

.user-thumbnail {
  position: absolute;
  top: 1px;
  left: -45px;
}

/* Header end */


/* Guides */

.add-guide {
  margin-bottom: 20px;
}

/* Footer start */

.footer {
  min-height: 150px;
  margin-top: 50px;
  color: rgb(180, 180, 180);
  background-color: rgb(40, 40, 40);
}

.guides footer.footer,
.profile footer.footer,
.home footer.footer {
  display: none;
}

.guides .aside-footer footer.footer,
.profile .aside-footer footer.footer,
.home .aside-footer footer.footer {
  display: block;
  margin-top: 0;
}


.aside-footer {
  margin-top: 20px;
}

.nav-footer {
  padding-top: 20px;

}

.site-footer {
  padding-bottom: 20px;
}

.footer-links,
.footer-contact {
  margin-bottom: 10px;
}

.footer a {
  margin-right: 15px;
  color: rgb(180, 180, 180);
}

.footer a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.882);
}

.site-footer .site-name {
  color: rgba(255, 255, 255, 0.882);
  font-weight: bold;
}

/* Footer end */

/* account-forms start */

.account-form,
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 40px auto 0;
}

.account-form h1 {
  font-size: 24px;
}

.signup-redirect-registration {
  margin-bottom: 10px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin .btn-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-signin .top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .mid {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin .bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signin-social-text {
  margin-bottom: 10px;
  text-align: center;
}

.login-or {
  margin-bottom: 10px;
  text-align: center;
}

.socialaccount_providers {
  padding: 0;
  list-style: none;
  margin-bottom: 5px;
}

.socialaccount_providers li:nth-child(odd) {
  margin-right: 5px;
}

.socialaccount_providers li {
  display: block;
  float: left;
  height: 30px;
  width: calc(50% - 5px);
  margin-bottom: 5px;
}

a.socialaccount_provider {
  display: block;
  height: 30px;
  width: 100%;
  background-color: #ccc;
  margin-bottom: 10px;
  text-align: center;
}

.account-form p {
  margin-bottom: 10px;
}

.password_reset {
  margin-bottom: 10px;
}

/* Signin end */

/* Flatpage start */

.flatpage {
  background-color: #292929;
  padding: 30px 40px;
}

/* Flatpage end */

/* Article start */

article.post {
  margin-bottom: 20px;
}

article .post-title {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.882);
}

article .post-link:hover {
  text-decoration: none;
}

article .post-excerpt {
  color: rgb(180, 180, 180);
}


article .post-content,
article .post-footer {
  background-color: rgb(40, 40, 40);
}

article .post-content {
  padding: 1.25rem 1.25rem 10px 1.25rem;
}

article .post-text {
  margin: 0;
}

article .post-footer {
  padding: 10px 1.25rem;
  color: rgb(136, 136, 136);
}

article .post-footer .post-author a {
  color: rgb(136, 136, 136);
}

article .post-footer .post-author a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.882);
}

article .post-footer > div {
  display: inline-block;
  margin-right: 10px;
}

article .post-author-img {
    margin: 0 5px 3px 0;
}

.post-thumbnail-small {
  float: right;
  margin-left: 20px;
  margin-bottom: 5px;
  width: 100px;
  height: 100px;
}

.wrapper-post-detail #i-eye {
  top: 3px;
  position: relative;
}

.wrapper-post-detail .views-counter span {
  margin-left: 2px;
}

.loading {
  height: 90px;
  text-align: center;
  margin-bottom: 40px;
}

.infinite-more-link {
  display: none;
}

/* Article end */

/* Referral program  start */

.referral-program {
  padding: 20px;
  color: rgb(180, 180, 180);
  background-color: rgb(40, 40, 40);
  margin-bottom: 20px;
}

/* Referral program  end */

/* popular-posts */

.popular-posts {
  padding: 20px;
  color: rgb(180, 180, 180);
  background-color: rgb(40, 40, 40);
}

.item-popular {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-title {
  display: block;
  line-height: 1.3rem;
  color: rgba(255, 255, 255, 0.882);
  font-size: 14px;
}

.header-popular {
  padding-bottom: 10px;
}

.item-img {
  width: 40px;
  height: 40px;
  float: left;
}

.content-popular {
  padding-left: 53px;
}

/* Post_create start */

.btn-modal-unload {
  margin-bottom: 5px;
}

.modal-header {
  padding: 15px 15px 0 15px;
  border-bottom: none;
}

.modal-file-unload {
  padding: 15px 0; 
}

.nav-tabs {
  border-bottom: 1px solid rgba(255,255,255,.25);
}

.nav-tabs .nav-link {
  color: rgba(255,255,255,.5);
}

.nav-tabs .nav-item:first-child {
  margin-left: 15px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: rgba(255,255,255,.15) rgba(255,255,255,.15) transparent;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: rgba(255, 255, 255, 0.882);
  background: none; 
  border-color: rgba(255,255,255,.25) rgba(255,255,255,.25) #232323;
}

.tab-pane {
  padding: 15px;
}

.modal-footer {
  border-top: 1px solid rgba(255,255,255,.25);
}

@media (min-width: 992px){
  .modal-lg {
    max-width: 80%;
  }
}

/* Post_create end */

/* Comments start */

#comments {
  margin-top: 40px;
  padding: 30px 0;
  background-color: #292929;
}

.comments-container {
  margin: 0;
  margin-left: 100px;
  margin-right: 200px;
}

/* #comments .comments-header {
  
} */

#comments .comments-content {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

#comments .comments-item {
  margin-top: 25px;
  padding-left: 54px;
}

.comments-item.comments-item-level-2 {
  margin-left: 54px;
}

.comments-item-header {
  position: relative;
}

#comments .comments-item-user-thumbnail {
  position: absolute;
  top: 2px;
  left: -54px;
  width: 40px;
  height: 40px;
}

#comments .comments-title {
  font-size: 19px;
  font-weight: 700;
}

#comments .comments-item-user {
  display: block;
  float: left;
  margin-right: 15px;
  color: rgba(255, 255, 255, 0.882);
  font-weight: 700;
}

#comments .comments-item-user:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.882);
}

#comments .comments-item-user-name {
  line-height: 18px;
}

.comments-item-date {
  font-size: 12px;
  line-height: 12px;
  color: #818181;
  padding-top: 4px;
  text-transform: lowercase;
  float: left;
  margin-right: 15px;
}

.comments-item-date:hover {
  text-decoration: none;
}

.comments-item-content {
  margin-top: 2px;
}

.comments-item-button-reply {
  position: relative;
  float: left;
  color: #818181;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px dotted #818181;
}

.comments-item-footer {
  margin-top: 5px;
}

.comments-item-button-reply:hover {
  color: #105990;
  border-bottom-color: #105990;
}

.comments-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.comments-form-reply {
  position: relative;
}

.comments-form-reply form {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 54px;
}

.comments-form-user-thumbnail {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 15px;
}

.btn-comment-reply {
  float: right;
  margin-top: 10px;

}

.btn-comment-reply-cancel {
  display: none;
  float: right;
  cursor: pointer;
  font-size: 14px;
  line-height: 15px;
  margin-top: 20px;
  margin-right: 20px;
  color: #818181;
  border-bottom: 1px dotted #818181;
}

.form-reply-js .btn-comment-reply-cancel {
  display: block;
}

/* Comments end */

/* Quill editor start */

.sticky-editor {
  position: fixed;
  top: 57px;
  z-index: 101;
}

.form-control {
  color: #eeeeee;
  background-color: #404040;
  border: 1px solid #303030;
}

.form-control:focus {
    color: #fff;
    background-color: #404040;
    border-color: #303030;
    outline: 0;
    box-shadow: none;
}

.hide {
  display: none; 
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.ql-container {
    font-family: inherit !important;
    font-size: inherit !important;
    background-color: #323232;
}

.ql-toolbar.ql-snow {
    border: none !important;
    background-color: #323232;
}

.ql-snow .ql-picker {
    color: #fff !important;
}

.ql-container.ql-snow {
    border: none !important;
}

.wrapper-post-detail .ql-editor {
  line-height: inherit !important;
  overflow: hidden;
  padding: 0 15px;
}

#editor-container .ql-editor {
  min-height: 500px;
}

.post-detail .ql-editor .ql-video {
  display: block;
  width: 100%;
  height: 410px;
}

.post-detail .ql-editor blockquote {
  border-left: 4px solid #6d6d6d;
  padding-left: 1rem;
}

.editor .ql-snow .ql-stroke {
  stroke: rgba(255, 255, 255, 0.882);
}

.editor .ql-snow .ql-fill,
.editor .ql-snow .ql-stroke.ql-fill {
  fill: rgba(255, 255, 255, 0.882);
}

.editor .ql-snow .ql-picker-options {
  background-color: rgb(40, 40, 40);
}

.editor .ql-snow .ql-picker.ql-header {
  width: 110px;
}

.editor .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.editor .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: 'Заголовок 1';
}

.editor .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.editor .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: 'Заголовок 2';
}

.editor .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.editor .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  content: 'Заголовок 3';
}

.editor .ql-snow .ql-picker.ql-header .ql-picker-label[data-value="4"]::before,
.editor .ql-snow .ql-picker.ql-header .ql-picker-item[data-value="4"]::before {
  content: 'Заголовок 4';
}

.editor .ql-snow .ql-picker.ql-header .ql-picker-label::before,
.editor .ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: 'Параграф';
}

.editor .ql-snow .ql-tooltip[data-mode=link]::before {
  content: "Ссылка:";
}

.editor .ql-snow .ql-tooltip[data-mode=video]::before {
  content: "Видео:";
}

.editor .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  content: 'Сохранить';
}

.editor .ql-snow .ql-tooltip::before {
  content: "Перейти по URL:";
}

.editor .ql-snow .ql-tooltip a.ql-action::after {
  content: 'Изменить';
}

.editor .ql-snow .ql-tooltip a.ql-remove::before {
  content: 'Удалить';
}

/* Quill editor end */

/* post-detail start */

.wrapper-post-detail {
  background-color: #292929;
  padding: 30px 40px;
}

.post-detail-content a {
  outline: none;
}

.post-info {
  margin-bottom: 15px;
  color: rgb(180, 180, 180);
}

.post-info > div {
  display: inline-block;
  margin-right: 20px;
}

.post-detail-title {
  margin-bottom: 20px;
}

/* post-detail end */

/* profiles start */

.profile-info-container {
  background-color: #292929;
  margin-bottom: 20px;
}

.user-name {
  font-size: 25px;
  font-weight: 400;
  padding: 10px 0;
  margin: 0;
}

.no-content {
  padding: 20px;
  padding-top: 150px;
  height: 400px;
  background-color: rgb(40, 40, 40);
  text-align: center;
}

.profile-nav-container .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.profile-nav-container .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


/* profiles end */

/* stats start */

.stats {
  padding: 20px;
  background-color: #323232;
}

/* stats end */


/* settings start */
.settings-email .badge {
  height: 20px;
  margin-top: 3px;
  margin-left: 10px;
}

/* settings end */

/* database start */

.db-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.db-category .category-title h2 {
  font-size: 1.3rem;
}

/* database end */

