{% extends "base.html" %}
{% load staticfiles %}
{% load hitcount_tags %}
{% load popular_posts %}
{% load popular_guides %}
{% load comment_extras %}

{% block head_title %}{{ guide.title }}{% endblock %}
{% block description %}{{ guide.excerpt }}{% endblock description %}

{% block content %}

<div class="container main">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper-post-detail">
        <div class="post-info">
          <div class="date">{{ guide.created_at }}</div>
          <div class="author">{{ guide.author }}</div>
          <div class="views-counter">
              <svg xmlns="http://www.w3.org/2000/svg" id="i-eye" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye" data-reactid="486">
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                <circle cx="12" cy="12" r="3"></circle>
              </svg>
            <span>{% get_hit_count for guide %}</span>
          </div>

          {% if user.is_authenticated %}
            {% if user == guide.author or user.is_active and user.is_superuser %}

            <div class="edit"><a href="{% url 'guides:edit_guide' id=guide.id slug=guide.slug %}">Редактировать</a></div>
            
            {% endif %}
          {% endif %}

        </div>
        <article class="post-detail">
          <div class="post-detail-title">
            <h1>{{ guide.title }}</h1>
          </div>
          <div class="row">
            <div class="post-detail-content my-gallery ql-editor col-md-8">{{ guide.content|safe }}{% if guide.tags %}<div class="tags">{% for tag in guide.tags.all %}<a href="{% url 'tagged' slug=tag.slug %}">#{{ tag.name }}</a> {% endfor %}</div>{% endif %}</div>
            <div class="col-md-4 aside">
              {% get_popular_posts %}
              {% get_popular_guides %}
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="col-md-12 comments-wrap">
      <div class="mttp-comments">
          {% get_comments guide guide.id user %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script>
    $(document).ready(function() {
      $('.post-detail-content img').parents('a').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
        showCloseBtn: false,
        closeBtnInside: false,
        fixedContentPos: false,
        mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
        image: {
          verticalFit: true
        },
        zoom: {
          enabled: true,
          duration: 300 // don't foget to change the duration also in CSS
        }
      });
    });

    (function(){
    var a = document.querySelector('.post-detail .aside'), b = null, P = 67;  // если ноль заменить на число, то блок будет прилипать до того, как верхний край окна браузера дойдёт до верхнего края элемента. Может быть отрицательным числом
    window.addEventListener('scroll', Ascroll, false);
    document.body.addEventListener('scroll', Ascroll, false);
    function Ascroll() {
      if (b == null) {
        var Sa = getComputedStyle(a, ''), s = '';
        for (var i = 0; i < Sa.length; i++) {
          if (Sa[i].indexOf('overflow') == 0 || Sa[i].indexOf('padding') == 0 || Sa[i].indexOf('border') == 0 || Sa[i].indexOf('outline') == 0 || Sa[i].indexOf('box-shadow') == 0 || Sa[i].indexOf('background') == 0) {
            s += Sa[i] + ': ' +Sa.getPropertyValue(Sa[i]) + '; '
          }
        }
        b = document.createElement('div');
        b.style.cssText = s + ' box-sizing: border-box; width: ' + a.offsetWidth + 'px;';
        a.insertBefore(b, a.firstChild);
        var l = a.childNodes.length;
        for (var i = 1; i < l; i++) {
          b.appendChild(a.childNodes[1]);
        }
        a.style.height = b.getBoundingClientRect().height + 'px';
        a.style.padding = '0';
        a.style.border = '0';
      }
      var Ra = a.getBoundingClientRect(),
          R = Math.round(Ra.top + b.getBoundingClientRect().height - document.querySelector('.comments-wrap').getBoundingClientRect().top + 25);  // селектор блока, при достижении верхнего края которого нужно открепить прилипающий элемент;  Math.round() только для IE; если ноль заменить на число, то блок будет прилипать до того, как нижний край элемента дойдёт до футера
      if ((Ra.top - P) <= 0) {
        if ((Ra.top - P) <= R) {
          b.className = 'stop-aside-detail';
          b.style.top = - R +'px';
        } else {
          b.className = 'sticky-aside-detail';
          b.style.top = P + 'px';
        }
      } else {
        b.className = '';
        b.style.top = '';
      }
      window.addEventListener('resize', function() {
        a.children[0].style.width = getComputedStyle(a, '').width
      }, false);
    }
    })()
  </script>
{% endblock %}

{% block jsnocompress %}
{% insert_hit_count_js for guide%}
{% endblock %}