{% extends "blog/base.html" %}
{% load humanize %}
{% block content %}
<div class="container main">
  <div class="row">
    <div class="posts-list col-md-6">
      {% for post in posts %}
      {% include "blog/post_block.html" %}
      {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="stats">
        <div class="stats-title">
          <h2>Статистика</h2>
        </div>
        {% if funding.funds %}
        <div class="funding">
          
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}