{% load staticfiles %}
<div class="btn btn-primary btn-sm btn-modal-unload" data-toggle="modal" data-target=".bd-example-modal-lg">Вставить медиафайл</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title">Вставить медиафайл</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-file-unload">
        <nav class="nav nav-tabs navbar-dark bg-dark" id="myTab" role="tablist">
          <a class="nav-item nav-link" id="nav-unload-tab" data-toggle="tab" href="#nav-unload" role="tab" aria-controls="nav-unload" aria-expanded="true">Загрузить файлы</a>
          <a class="nav-item nav-link active" id="nav-library-tab" data-toggle="tab" href="#nav-library" role="tab" aria-controls="nav-library">Библиотека файлов</a>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade" id="nav-unload" role="tabpanel" aria-labelledby="nav-unload-tab">
            {# 1. BUTTON TO TRIGGER THE ACTION #}
            <button type="button" class="btn btn-primary js-upload-photos">
              <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
            </button>
            
            {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
            <input id="fileupload" type="file" name="file" multiple
                   style="display: none;"
                   data-url="{% url 'attachments:basic_upload' %}"
                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
            
            {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #}
            <table id="gallery" class="table table-bordered">
              <thead>
                <tr>
                  <th>Photo</th>
                </tr>
              </thead>
              <tbody>
                {% for attachment in attachments %}
                  <tr>
                    <td><a href="{{ attachment.file.url }}">{{ attachment.file.name }}</a></td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade show active" id="nav-library" role="tabpanel" aria-labelledby="nav-library-tab">
            <div class="row">
            {% for attachment in attachments %}
              <div class="col-2">
                <img src="{{ attachment.file.url }}" class="img-fluid" alt="{{ attachment.file.name }}">
              </div>
            {% endfor %}
          </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Вставить в запись</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

{% block javascript %}
<script src="{% static 'js/jquery-file-upload/jquery.ui.widget.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>
<script src="{% static 'js/basic-upload.js' %}"></script>
{% endblock %}