{% extends "blog/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container main">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper-post-detail">
        <div class="post-info">
          <div class="date">{{ post.created_at }}</div>
          <div class="author">{{ post.author }}</div>

          {% if user.is_authenticated %}
            {% if user == post.author or user.is_active and user.is_superuser %}

            <div class="edit"><a href="{% url 'blog:edit_post' id=post.id slug=post.slug %}">Редактировать</a></div>
            
            {% endif %}
          {% endif %}

        </div>
        <article class="post-detail">
          <div class="post-detail-title">
            <h1>{{ post.title }}</h1>
          </div>
          <div class="post-detail-content my-gallery ql-editor col-md-8">{{ post.content|safe }}</div>
        </article>
      </div>
    </div>
    <div class="col-md-12">
      <div class="mttp-comments">
          {% load comment_extras %}
          {% get_comments post %}
      </div>
      <div id="comments">
        <div class="comments-header">
          <h2>0 комментариев</h2>
        </div>
        <div class="comment-form clearfix">
          <div id="author-thumbnail">
            <a href="">
              <img src="" alt="{{ comment.author }}" class="rounded-circle author-comment-avatar">
            </a>
          </div>
          <div class="form-wapper">
            <form method="POST" action="">
              {% csrf_token %}
              {{ comment_form.content_type }}
              {{ comment_form.object_id }}
              <label for="id_content" class="sr-only">Комментарий:</label>
              <textarea name="content" class="form-control" cols="40" rows="5" required="" id="id_content" placeholder="Написать комментарий..."></textarea>
              <button type="submit" class="btn btn-primary">Комментировать</button>
            </form>
          </div>
        </div>
        <div class="comments-content">
          {% for comment in comments_parent %}
          <div id="comment-{{comment.id}}" class="comment">
            <div class="clearfix">
              <div id="author-thumbnail">
                <a href="">
                  <img src="holder.js/40x40" alt="{{ comment.author }}" class="rounded-circle author-comment-avatar">
                </a>
              </div>
              <div id="comment-body">
                <div class="comment-header">
                  <div class="header-author">
                    <a href="" class="comment-author">{{ comment.author }}</a>
                  </div>
                  <div class="heaser-date">
                    <div class="comment-date">{{ comment.date|timesince }} назад</div>
                  </div>
                </div>
                <div class="comment-content">{{ comment.content }}</div>
              </div>
            </div>
            <div class="comment-footer">
              <div class="comment-reply-btn">
                <button class="btn btn-sm reply-btn reply-btn-js">Ответить</button>
              </div>
            </div>
            <div class="comment-form comment-form-reply clearfix">
              <div class="form-wapper">
                <form method="POST" action="">
                  {% csrf_token %}
                  {{ comment_form.content_type }}
                  {{ comment_form.object_id }}
                  <input type="hidden" name="parent_id" id="id_parent_id" value="{{ comment.id }}">
                  <label for="id_content" class="sr-only">Комментарий:</label>
                  <textarea name="content" class="form-control" cols="40" rows="5" required="" id="id_content" placeholder="Написать комментарий..."></textarea>
                  <button type="submit" class="btn btn-primary">Комментировать</button>
                  <button type="submit" class="btn reply-btn reply-cancel-js">Отменить</button>
                </form>
              </div>
            </div>
            {% for child_comment in comments_children %}
              {% if child_comment.parent_id == comment.id %}
                <div class="comment-reply clearfix">
                  <div id="comment-{{child_comment.id}}" class="comment">
                    <div class="clearfix">
                      <div id="author-thumbnail">
                        <a href="">
                          <img src="holder.js/40x40" alt="{{ child_comment.author }}" class="rounded-circle author-comment-avatar">
                        </a>
                      </div>
                      <div id="comment-body">
                        <div class="comment-header">
                          <div class="header-author">
                            <a href="" class="comment-author">{{ child_comment.author }}</a>
                          </div>
                          <div class="heaser-date">
                            <div class="comment-date">{{ child_comment.date|timesince }} назад</div>
                          </div>
                        </div>
                        <div class="comment-content">{{ child_comment.content }}</div>
                      </div>
                    </div>
                    <div class="comment-footer">
                      <div class="comment-reply-btn">
                        <button class="btn btn-sm reply-btn reply-btn-js">Ответить</button>
                      </div>
                    </div>
                    <div class="comment-form comment-form-reply clearfix">
                      <div class="form-wapper">
                        <form method="POST" action="">
                          {% csrf_token %}
                          {{ comment_form.content_type }}
                          {{ comment_form.object_id }}
                          <input type="hidden" name="parent_id" id="id_parent_id" value="{{ comment.id }}">
                          <label for="id_content" class="sr-only">Комментарий:</label>
                          <textarea name="content" class="form-control" cols="40" rows="3" required="" id="id_content" placeholder="Написать комментарий..."></textarea>
                          <button type="submit" class="btn btn-primary">Комментировать</button>
                          <button type="submit" class="btn reply-btn reply-cancel-js">Отменить</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                {%endif%}
              {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script>
    $(document).ready(function() {
      $('.post-detail-content img').parents('a').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
        showCloseBtn: false,
        closeBtnInside: false,
        fixedContentPos: false,
        mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
        image: {
          verticalFit: true
        },
        zoom: {
          enabled: true,
          duration: 300 // don't foget to change the duration also in CSS
        }
      });
    });
    </script>
{% endblock %}