{% extends "blog/base.html" %}
{% block content %}
<div class="container main">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper-post-detail">
        <div class="post-info">
          <div class="date">{{ post.date }}</div>
          <div class="author">{{ post.author }}</div>
          <div class="edit"><a href="{% url 'blog:edit_post' id=post.id slug=post.slug %}">Редактировать</a></div>
        </div>
        <article class="post-detail">
          <div class="post-detail-title">
            <h1>{{ post.title }}</h1>
          </div>
          <div class="post-detail-content ql-editor col-md-8">
              {{ post.content|safe }}
          </div>
        </article>
      </div>
    </div>
    <div class="col-md-12">
      <div id="comments">
        <div class="comments-header">
          <h2>0 комментариев</h2>
        </div>
        <div class="comments-content"></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}