{% load imagekit %}
<article class="post">
  <div class="post-content clearfix">
    {% if post.thumbnail and not post.big_thumbnail %}
    <div class="post-thumbnail-small">
      <img class="img-fluid" src="{{ post.thumbnail_100.url }}">
    </div>
    {% endif %}
    <a href="{{ post.get_absolute_url }}"><h3 class="post-title">{{ post.title }}</h3></a>
    {{ post.excerpt|safe }}
  </div>
  {% if post.thumbnail and post.big_thumbnail %}
  <div class="post-thumbnail-big">
    <img class="img-fluid" src="{{ post.thumbnail_540.url }}">
  </div>
  {% endif %}
  <div class="post-footer">
    <div class="post-date">{{ post.created_at }}</div>
    <div class="post-author"><a href="{% url 'profiles:user_profile' username=post.author %}">
      {% thumbnail '20x20' post.author.avatar -- alt="A picture of Me" class="rounded-circle post-author-img" %}
      {{ post.author }}
    </a></div>
  </div>
</article>