<div class="popular-posts">
    <div class="header-popular">
        <p>Популярные посты</p>
    </div>
    <div class="list-popular">
        {% for post in popular %}
            <div class="item-popular clearfix">
                {% if post.thumbnail %}
                    <img class="item-img img-fluid" src="{{ post.thumbnail_small.url }}">
                {% endif %}
                <div class="content-popular">
                    <a href="{{ post.get_absolute_url }}" class="item-title">{{ post.title }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>