{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
<link rel='stylesheet' href='{% static "css/quill.snow.css" %}' />

<style>
  body > #standalone-container {
    margin: 50px auto;
    max-width: 720px;
  }
  #editor-container {
    min-height: 500px;
  }
</style>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery.sticky-kit.js' %}"></script>
<script src="{% static 'js/quill.min.js' %}"></script>
<script src="{% static 'js/editor.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container main editor">
    <h2>Создать Пост</h2>
    <form method="POST" class="post-form">
      {% csrf_token %}
      <div class="row">
        <div class="main-form col-md-8">
          <div class="form-group">
            <input type="text" name="title" class="form-control" placeholder="Введите заголовок" {% if form.title.value %}value="{{ form.title.value }}"{% endif %} maxlength="150" required="" id="id_title">
            <textarea name="content" cols="40" rows="10" class="form-control hide" required="" id="id_content">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>
          </div>
          <div class="form-group">
            <div id="editor-container"></div>
          </div>
          <div class="form-group">
            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
              <!-- <input type="checkbox" class="custom-control-input" name="published" id="id_published"> -->
              <input type="checkbox" name="published" class="custom-control-input" id="id_published" checked="">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Опубликовано</span>
            </label>
            <button type="submit" class="save btn btn-primary">Сохранить</button>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </form>
</div>
{% endblock content %}