{% extends "base.html" %}
{% load staticfiles %}
{% load hitcount_tags %}
{% load comment_extras %}

{% block title %}{{ post.title }}{% endblock title %}
{% block description %}{{ post.excerpt }}{% endblock description %}

{% block content %}

{% insert_hit_count_js for post%}

<div class="container main">
  <div class="row">
    <div class="col-md-12">
      <div class="wrapper-post-detail">
        <div class="post-info">
          <div class="date">{{ post.created_at }}</div>
          <div class="author">{{ post.author }}</div>
          <div class="views-counter">
            <svg xmlns="http://www.w3.org/2000/svg" id="i-eye" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye" data-reactid="486">
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle>
            </svg>
            <span>{% get_hit_count for post %}</span>
          </div>

          {% if user.is_authenticated %}
            {% if user == post.author or user.is_active and user.is_superuser %}

            <div class="edit"><a href="{% url 'blog:edit_post' id=post.id slug=post.slug %}">Редактировать</a></div>
            
            {% endif %}
          {% endif %}

        </div>
        <article class="post-detail">
          <div class="post-detail-title">
            <h1>{{ post.title }}</h1>
          </div>
          
          <div class="row">
          <div class="post-detail-content my-gallery ql-editor col-md-8">{{ post.content|safe }}</div>
          <div class="col-md-4 ffff">
            <div>sadasdasdasd</div>
          </div>
          </div>
          
        </article>
      </div>
    </div>
    <div class="col-md-12">
      <div class="mttp-comments">
          {% get_comments post post.id user %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <script src="{% static 'hitcount/jquery.postcsrf.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script>
    $(document).ready(function() {
      $('.post-detail-content img').parents('a').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
        showCloseBtn: false,
        closeBtnInside: false,
        fixedContentPos: false,
        mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
        image: {
          verticalFit: true
        },
        zoom: {
          enabled: true,
          duration: 300 // don't foget to change the duration also in CSS
        }
      });
    });
    </script>
{% endblock %}