{% load imagekit %}
{% load embed_video_tags %}
{% load cache %}
<article class="post infinite-item">
  <div class="post-content clearfix">
    {% if post.thumbnail and not post.big_thumbnail and not post.video_link %}
    <div class="post-thumbnail-small">
      <img class="img-fluid" src="{{ post.thumbnail_small.url }}">
    </div>
    {% endif %}
    <a href="{{ post.get_absolute_url }}" class="post-link"><h3 class="post-title">{{ post.title }}</h3></a>
    <div class="post-excerpt">{{ post.excerpt|safe }}</div>
  </div>
  {% if post.thumbnail and post.big_thumbnail and not post.video_link %}
  <div class="post-thumbnail-big">
    <img class="img-fluid" src="{{ post.thumbnail_big.url }}">
  </div>
  {% endif %}
  {% if post.video_link %}
  <div class="post-embed">
    {% cache 600 iframe_cache post.video_link %}
      {% video post.video_link '100% x 100%' is_secure=True %}
    {% endcache %}
  </div>
  {% endif %}
  <div class="post-footer">
    <div class="post-date">{{ post.created_at }}</div>
    <div class="post-author"><a href="{% url 'profiles:user_profile' username=post.author %}">
      {% thumbnail '20x20' post.author.avatar -- alt="A picture of Me" class="rounded-circle post-author-img" %}
      {{ post.author }}
    </a></div>
  </div>
</article>