{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="ru">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67213815-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-67213815-1');
  </script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3856937532939139",
      enable_page_level_ads: true
    });
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block head_title %}Star Citizen - Новости, обновления, гайды, база знаний.{% endblock %}</title>
  <meta name="description" content="{% block description %}Информационный портал посвященный игре Star Citizen и Squadron 42.{% endblock description %}">
  <meta name="google-site-verification" content="Q4debiDw1jYYq05Xyg5mDo6ht7t2OgSVkXTXp0Z-sZU" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
  {% block extend %}{% endblock extend %}
  {% compress css file %}
  <link rel='stylesheet' href='{% static "css/bootstrap.min.css" %}' />
  <link rel='stylesheet' href='{% static "css/quill.core.css" %}' />
  <link rel='stylesheet' href="{% static 'tellme/feedback.min.css' %}" rel="stylesheet" />
  {% block css %}{% endblock %}
  <link rel='stylesheet' href='{% static "css/main.css" %}' />
  {% endcompress %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "img/favicon/manifest.json" %}">
  <link rel="mask-icon" href="{% static "img/favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
</head>
<body {% block bodyclass %}{% endblock bodyclass %}>
  {% include 'nav.html' %}
  {% if messages %}
  <div class="alerts-box">
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show clearfix" role="alert">
      <div class="alert-message">{{ message }}</div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% block content %}{% endblock content %}
  
  {% compress js file %}
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script type="text/javascript">
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
    }
  });
    $(function () {
      $.feedback({
        ajaxURL: "{% url 'tellme:post_feedback' %}",
        html2canvasURL: "{% static 'tellme/html2canvas.min.js' %}",
        feedbackButton: "#feedback-btn",
        initButtonText: "{% filter escapejs %}{%  include 'tellme/initButtonText.txt' %}{% endfilter %}",
        postHTML: false,
        tpl: {
          description: "{% filter escapejs %}{%  include 'tellme/tpl-description.html' %}{% endfilter %}",
          highlighter: "{% filter escapejs %}{%  include 'tellme/tpl-highlighter.html' %}{% endfilter %}",
          overview: "{% filter escapejs %}{%  include 'tellme/tpl-overview.html' %}{% endfilter %}",
          submitSuccess: "{% filter escapejs %}{%  include 'tellme/tpl-submit-success.html' %}{% endfilter %}",
          submitError: "{% filter escapejs %}{%  include 'tellme/tpl-submit-error.html' %}{% endfilter %}"
        },
        initialBox: true
      });
    });
  </script>
  <script src="{% static 'tellme/feedback.min.js' %}"></script>
  {% block javascript %}{% endblock %}
  {% endcompress %}
  {% block jsnocompress %}{% endblock %}
  {% include 'footer.html' %}
  {% csrf_token %}
</body>
</html>