<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 nav-footer">
                <div class="footer-links">
                    <span class="footer-link js-link" data-href="/about/">О Проекте</span>
                    <span class="footer-link js-link" data-href="/careers/">Вакансии</span>
                    <span class="footer-link" id="feedback-btn">Обратная связь</span>
                </div>
                <div class="footer-contact">
                    <a class="footer-link" href="mailto:starcitizenlife@gmail.com">starcitizenlife@gmail.com</a>
                </div>
                <p class="footer-agreement">
                    <span class="footer-link js-link" data-href="/terms/">Условия и правила</span>
                    <span class="footer-link js-link" data-href="/privacy/">Политика конфиденциальности</span>
                </p>
            </div>
            <div class="col-md-12 site-footer">
                <p>© 2015-2017<span class="site-name"> Star Citizen Life </span>- Информационный портал посвященный игре Star Citizen и Squadron 42.</p>
            </div>
        </div>
    </div>
</footer>