<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 nav-footer">
                <div class="footer-links">
                    <a href="/about/">О Проекте</a>
                    <a href="#">Вакансии</a>
                    <a href="#" id="feedback-btn">Обратная связь</a>
                </div>
                <div class="footer-contact">
                    <a class="" href="mailto:starcitizenlife@gmail.com">starcitizenlife@gmail.com</a>
                </div>
            </div>
            <div class="col-md-12 site-footer">
                <p>© 2015-2017<span class="site-name"> Star Citizen Life </span>- Информационный портал посвященный игре Star Citizen и Squadron 42.</p>
            </div>
        </div>
    </div>
</footer>