{% extends "base.html" %}
{% load humanize %}
{% block content %}
<div class="container main">
  <div class="row">
    <div class="col-md-6 posts-list">
      {% for post in posts %}
      {% include "blog/post_block.html" %}
      {% endfor %}
      {% if is_paginated %}
      <nav aria-label="...">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
      </ul>
      </nav>
    {% endif %}
    </div>
    <div class="col-md-6 ad">
      <div class="referral-program">
        <p>Зарегистрируйся в Star Citizen <a rel="nofollow" target="_blank" href="https://robertsspaceindustries.com/enlist?referral=STAR-LVR3-GPFZ">по этой ссылке</a> 
        или самостоятельно введи код STAR-LVR3-GPFZ при регистрации, что бы получить бонус 5000 UEC эквивалент 5$.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="stats">
        <div class="stats-title">
          <h2>Статистика</h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}