{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<div class="container main">
  <div class="row">
    <div class="col-md-6">
      <div class="posts-list">
          {% for post in posts %}
          {% include "blog/post_block.html" %}
          {% endfor %}
      </div>
      <div class="loading" style="display: none;">
        Loading...
      </div>

      {% if page_obj.has_next %}
        <a class="infinite-more-link" href="{% url 'blog:index_pagination' page=page_obj.next_page_number %}">Далее</a>
      {% endif %}

      <script>
        var infinite = new Waypoint.Infinite({
          element: $('.posts-list')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
            $('.loading').hide();
          }
        });
      </script>
    </div>
    <div class="col-md-6 ad">
      <div class="referral-program">
        <p>Зарегистрируйся в Star Citizen <a rel="nofollow" target="_blank" href="https://robertsspaceindustries.com/enlist?referral=STAR-LVR3-GPFZ">по этой ссылке</a> 
        или самостоятельно введи код STAR-LVR3-GPFZ при регистрации, что бы получить бонус 5000 UEC эквивалент 5$.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="stats">
        <div class="stats-title">
          <h2>Статистика</h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block extend %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
{% endblock %}