<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" href="/">Star Citizen Life</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Новости <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'guides:index' %}">Гайды <span class="badge badge-info">Новое</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'knowledgebase:index' %}">База Знаний <span class="badge badge-info">Скоро</span></a>
      </li>
      {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="/admin/">Админка</a>
      </li>
      {% endif %}
    </ul>
    <span class="link-create js-link" data-href="{% url 'blog:create_post' %}"><button type="button" class="btn btn-outline-info btn-create">Написать</button></span>
    
    {% if user.is_authenticated %}
    
    <ul class="navbar-nav profile">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle nav-user" href="{% url 'profiles:user_profile' username=user.username %}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if user.avatar %}
            <img alt="@{{ user.username }}" class="user-thumbnail rounded" width="40" height="40" src="{{ user.avatar_thumbnail_40.url }}">
          {% endif %}
          <span>{{ user.username }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-menu">
          <a class="dropdown-item" href="{% url 'profiles:user_profile' username=user.username  %}">Профиль</a>
          <a class="dropdown-item" href="{% url 'profiles:settings_profile' %}">Настройки</a>
          <a class="dropdown-item" href="{% url 'account_logout' %}">Выйти</a>
        </div>
      </li>
    </ul>

    {% else %}

    <ul class="navbar-nav profile">
      <li class="nav-item">
        <span class="nav-link login-link js-link" data-href="{% url 'account_login' %}?next={{ request.path }}">
          <div class="login-svg">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-in">
              <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path>
              <polyline points="10 17 15 12 10 7"></polyline>
              <line x1="15" y1="12" x2="3" y2="12"></line>
            </svg>
          </div>
          <span>Войти</span>
        </span>
      </li>
    </ul>

    {% endif %}

  </div>
</nav>