{% load comment_extras %}
<div id="comments">
  <div class="comments-header comments-container">
    <p class="comments-title">Комментариев {{ comments_count }}</p>
  </div>
  <div class="comments-content comments-container">
  {% for comment in comments %}
    <div id="comment-{{ comment.id }}" class="comments-item comments-item-level-{% if comment.is_root_node %}1{% else %}2{% endif %}">
      <div class="comments-item-header">
        <a href="{% url 'profiles:user_profile' username=comment.user.username  %}" class="comments-item-user">
          <img alt="@{{ comment.user.username }}" class="comments-item-user-thumbnail rounded" width="40" height="40" src="{{ comment.user.avatar_thumbnail_40.url }}">
          <p class="comments-item-user-name"><span>{{ comment.user.username }}</span></p>
        </a>
        <a href="#comment-{{ comment.id }}" class="comments-item-date">
          <time class="time" datetime="{{ comment.created_at|date:"Y-m-d" }} {{ comment.created_at|time:"H:i" }}" title="{{ comment.created_at }}">{{ comment.created_at|timesince|upto:',' }} назад</time>
        </a>
        <div class="clearfix"></div>
      </div>
      <div class="comments-item-content">
        <p>{{ comment.comment}}</p>
      </div>
      <div class="comments-item-footer clearfix">
        <div class="comments-item-button-reply">
          <span>Ответить</span>
        </div>
      </div> 
    </div>
  {% endfor %}
  </div>
  <div class="comments-footer comments-container">
    <div class="comments-form-reply">
      {% if user.is_authenticated %}
      <img alt="@{{ user.username }}" class="comments-form-user-thumbnail rounded" width="40" height="40" src="{{ user.avatar_thumbnail_40.url }}">
      <form class="clearfix" method="POST" action="{% url 'comments:add_comment' %}">
        {% csrf_token %}
        <input type="hidden" name="content_type" value="{{ content_type }}" id="id_content_type">
        <input type="hidden" name="object_id" value="{{ object_id }}" id="id_object_id">
        <label for="id_comment" class="sr-only">Комментарий:</label>
        <textarea name="comment" class="form-control" cols="40" rows="5" required="" id="id_comment" placeholder="Написать комментарий..."></textarea>
        <div class="form-reply-footer">
          <button type="submit" class="btn btn-primary btn-comment-reply">Комментировать</button>
          <div class="btn-comment-reply-cancel">Отменить</div>
        </div>
      </form>
      {% else %}
      <div class="alert alert-dark not-authenticated" role="alert">
        <p>Только авторизованные пользователи могут оставлять комментарии. Пожалуйста, <a href="{% url 'account_login' %}" class="alert-link">Войдите</a> на сайт.</p>
      </div>
      {% endif %}
  </div>
  </div>
</div>